/*
 * Copyright 2011 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
/include/ "imx6q.dtsi"

/ {
	model = "Freescale i.MX6 Quad SABRE Lite Board";
	compatible = "fsl,imx6q-sabrelite", "fsl,imx6q";

	memory {
		reg = <0x10000000 0x40000000>;
	};

	soc {
		aips-bus@02000000 { /* AIPS1 */
			spba-bus@02000000 {
				ssi@0202c000 { /* SSI2 */
					status = "okay";
					fsl,ssi-uses-dma;
					fsl,ssi-synchronous-mode;
				};

				ecspi@02008000 { /* eCSPI1 */
					fsl,spi-num-chipselects = <1>;
					cs-gpios = <&gpio3 19 0>;
					status = "okay";

					flash: m25p32@0 {
						compatible = "st,m25p32", "st,m25p";
						spi-max-frequency = <20000000>;
						reg = <0>;
					};
				};

				uart1: uart@02020000 { 
				 	   status = "okay";
			   };

			};

			ldb@020e0000 {
				disp-pwr-gpios = <&gpio1 0 0>; /* gpio2 0 */
				mode = "sin0";
				ext_ref = "true";
				lvds0 = <1 0>;
			};

			wdog@020bc000 { /* WDOG1 */
				status = "okay";
			};
		};

		aips-bus@02100000 { /* AIPS2 */
			usbhost@02184000 { /* USB OTG PORT */
				otg-pwr-gpios = <&gpio2 22 0>;
				status = "okay";
			};

			usbhost@02184200 { /* USB Host1 */
				hub-reset-gpios = <&gpio6 12 0>;
				status = "okay";
			};

			enet@02188000 {
				phy-mode = "rgmii";
				phy-reset-gpios = <&gpio3 23 0>;
				status = "okay";
			};

			usdhc@02198000 { /* uSDHC3 */
				cd-gpios = <&gpio7 0 0>;
				wp-gpios = <&gpio7 1 0>;
				status = "okay";
			};

			usdhc@0219c000 { /* uSDHC4 */
				cd-gpios = <&gpio2 6 0>;
				wp-gpios = <&gpio2 7 0>;
				status = "okay";
			};

			audmux@021d8000 {
				status = "okay";
			};
			uart2: uart@021e8000 {
				status = "okay";
			};
			i2c@021a0000 { /* I2C1 */
				status = "okay";
				clock-frequency = <100000>;

				codec: sgtl5000@0a {
					compatible = "fsl,sgtl5000";
					reg = <0x0a>;
					VDDA-supply = <&reg_2p5>;
					VDDIO-supply = <&reg_3p0>;
				};
			};

			i2c@021a4000 { /* I2C2 */
				status = "okay";
				clock-frequency = <100000>;

				ddc: ddc@50 {
					compatible = "fsl,imx6q-hdmi-ddc";
					reg = <0x50>;
				};
				rtc@68 {
					compatible = "dallas,ds1338";
					reg = <0x68>;
				};
			};

			i2c@021a8000 { /* I2C3 */
				status = "okay";
				clock-frequency = <400000>;

				egalax@04 {
					compatible = "eeti,egalax";
					reg = <0x04>;
					interrupt-parent = <&gpio1>;
					interrupts = <9>;
					interrupt-gpio = <&gpio1 9 0>;
				};
			};
		};

		hdmi@0x00120000 { /* HDMI */
			ipu = <0>;
			di = <0>;
		};

		ahci@0x02200000 { /* AHCI SATA */
			status = "okay";
		};
	};

	leds {
		compatible = "gpio-leds";

		debug-led {
			label = "ledblink";
			gpios = <&gpio7 13 1>; /* GPIO7_13 */
			linux,default-trigger = "none";
		};
	};

	backlight {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "simple-bus";

		pwm_bl {
			compatible = "pwm-bl";
			pwm-parent = <&pwm4>;
			max_brightness = <255>;
			dft_brightness = <128>;
			pwm_period_ns = <50000>;
		};
	};

	displays {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
		ranges;

		disp1: fb@0 {
			compatible = "fsl,mxcfb-ipuv3";
			disp_dev = "ldb";
			interface_pix_fmt = "RGB666";
			mode_str = "LDB-XGA";
			internal_clk = "false";
			reg = <0x00000000 0x0>;	/* reserve fb mem */
		};

		disp2: fb@1 {
			compatible = "fsl,mxcfb-ipuv3";
			disp_dev = "hdmi";
			interface_pix_fmt = "RGB24";
			mode_str = "1280x720M@60";
			internal_clk = "false";
			reg = <0x00000001 0x0>;	/* reserve fb mem */
		};

		v4l2-out@0 {
			compatible = "fsl,vout_ipuv3";
		};
	};

	regulators {
		compatible = "simple-bus";

		reg_vddpu: regulator-vddpu {
			compatible = "fsl,anatop-regulator";
			regulator-name = "vddpu";
			regulator-min-microvolt = <725000>;
			regulator-max-microvolt = <1300000>;
			regulator-always-on;
			control-reg = <0x20c8140>;
			vol-bit-shift = <9>;
			vol-bit-mask = <0x1f>;
			min-bit-val = <1>;
			min-voltage = <725000>;
			max-voltage = <1300000>;
		};

		reg_vddcore: regulator-vddcore {
			compatible = "fsl,anatop-regulator";
			regulator-name = "vddcore";
			regulator-min-microvolt = <725000>;
			regulator-max-microvolt = <1300000>;
			regulator-always-on;
			control-reg = <0x20c8140>;
			vol-bit-shift = <0>;
			vol-bit-mask = <0x1f>;
			min-bit-val = <1>;
			min-voltage = <725000>;
			max-voltage = <1300000>;
		};

		reg_vddsoc: regulator-vddsoc {
			compatible = "fsl,anatop-regulator";
			regulator-name = "vddsoc";
			regulator-min-microvolt = <725000>;
			regulator-max-microvolt = <1300000>;
			regulator-always-on;
			control-reg = <0x20c8140>;
			vol-bit-shift = <18>;
			vol-bit-mask = <0x1f>;
			min-bit-val = <1>;
			min-voltage = <725000>;
			max-voltage = <1300000>;
		};

		reg_2p5: regulator-2p5 {
			compatible = "fsl,anatop-regulator";
			regulator-name = "vdd2p5";
			regulator-min-microvolt = <2000000>;
			regulator-max-microvolt = <2775000>;
			regulator-always-on;
			control-reg = <0x20c8130>;
			vol-bit-shift = <8>;
			vol-bit-mask = <0x1f>;
			min-bit-val = <0>;
			min-voltage = <2000000>;
			max-voltage = <2775000>;
		};

		reg_1p1: regulator-1p1 {
			compatible = "fsl,anatop-regulator";
			regulator-name = "vdd1p1";
			regulator-min-microvolt = <800000>;
			regulator-max-microvolt = <1400000>;
			regulator-always-on;
			control-reg = <0x20c8110>;
			vol-bit-shift = <8>;
			vol-bit-mask = <0x1f>;
			min-bit-val = <4>;
			min-voltage = <800000>;
			max-voltage = <1400000>;
		};

		reg_3p0: regulator-3p0 {
			compatible = "fsl,anatop-regulator";
			regulator-name = "vdd3p0";
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <3150000>;
			regulator-always-on;
			control-reg = <0x20c8120>;
			vol-bit-shift = <8>;
			vol-bit-mask = <0x1f>;
			min-bit-val = <7>;
			min-voltage = <2800000>;
			max-voltage = <3150000>;
		};
	};
};
